/* Scrollbar */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar:horizontal {
	height: 8px;
}

::-webkit-scrollbar-button {
	display: none;
}

::-webkit-scrollbar-track {
	background-color: #e5e5e5;
}

::-webkit-scrollbar-track-piece {
	background: 0 0;
}

::-webkit-scrollbar-thumb {
	background: rgba(51, 51, 51, .3);
	border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(51, 51, 51, .1);
}

::-webkit-scrollbar-corner {
	display: none;
}

/* Calculator */
#calc-plastic-style>.uk-active {
	background-color: #e70e07;
	color: #fff;
}

#calc-plastic-style .uk-padding-small {
	padding: 20px;
}

.calc-active-icons>.uk-active>a {
	color: #e70e07;
}

.calc-active-icons a {
	color: #505b67;
}

#calc-wood-style>.uk-active {
	background-color: #e70e07;
	color: #fff;
}

#calc-wood-style .uk-background-primary {
	color: #fff !important;
}

#calc-wood-style .uk-padding-small {
	padding: 20px;
}

#calc-main>.uk-active>.uk-card {
	background-color: #e70e07;
}

#calc-main>.uk-active>.uk-card .uk-h3 {
	color: #fff;
}

#calc-wood-material>.uk-active {
	background-color: #e70e07;
	color: #fff;
}

.calc-colors .uk-active img {
	border-radius: 50%;
	border: 2px #e70e07 solid;
}

.pdl {
	padding-left: 40px;
}

.grecaptcha-badge {
	display: none;
}