#top-menu .uk-navbar-nav>li>a {
	padding: 0 20px;
	height: 40px;
	font-size: 14px;
}

.tm-sub-navbar.uk-navbar-nav>li>a {
    height: 45px;
}

.uk-navbar-nav>li.uk-active>a, .uk-navbar-nav>li.uk-active>a, .uk-navbar-nav>li:hover>a, .uk-navbar-nav>li>a.uk-open, .uk-navbar-nav>li>a:focus {
    color: #f91b24;
}

.discounts-border-form, .discounts-border-form:focus {
    border-color: transparent;
}

.or-section .uk-badge {
    margin-bottom: 5px;
    background-color: #fcba1d;
}

#main-slider .uk-height-medium {
    height: 180px;
}

.or-slider-reviews .flickity-viewport {
    transition: height 0.2s;
}

@media screen and (max-width: 640px) {
    .or-slider-padding-remove {
        padding: 0;
    }

	#main-slider .flickity-prev-next-button {
		top: 20%;
	}

	.or-slider-reviews .flickity-prev-next-button {
		display: none;
	}
}

.install-step-line:before, .install-step-line:after {
	content: "";
	position: absolute;
	top: calc(50% - (1px / 2));
	width: 2000px;
	border-bottom: 1px solid #e5e5e5;
}
