.beer-reveal:before {
	top: 0;
	transform: translateX(-50%);
	width: 4px;
	height: 100%;
	position: absolute;
	left: 100%;
	content: "";
	background: #facf4d;
}
.beer-handle {
	background: #facf4d;
}
.beer-range:focus~.beer-handle {
	background: #facf4d;
}
/* Баннер: Новогодняя ярмарка */
/* a.tooltips {
	position: relative;
	display: inline;
	height: 275px;
	width: 275px;
	right: 170px;
	-webkit-animation: float 3s ease-in-out infinite;
	animation: float 3s ease-in-out infinite;
}

a.tooltips span {
	position: absolute;
	width: 230px;
	color: #FFFFFF;
	background: #EC2F2F;
	height: 40px;
	line-height: 40px;
	text-align: center;
	visibility: visible;
	border-radius: 0px;
}

a.tooltips span:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -12px;
	width: 0;
	height: 0;
	border-top: 12px solid #EC2F2F;
	border-right: 12px solid transparent;
	border-left: 12px solid transparent;
}

@-webkit-keyframes float {
	0% {
		-webkit-transform: translatey(0px);
		transform: translatey(0px);
	}
	50% {

		-webkit-transform: translatey(-20px);
		transform: translatey(-20px);
	}
	100% {
		-webkit-transform: translatey(0px);
		transform: translatey(0px);
	}
}

@keyframes float {
	0% {
		-webkit-transform: translatey(0px);
		transform: translatey(0px);
	}
	50% {

		-webkit-transform: translatey(-20px);
		transform: translatey(-20px);
	}
	100% {
		-webkit-transform: translatey(0px);
		transform: translatey(0px);
	}
}

@media screen and (max-width: 980px) {
	a.tooltips {
		right: 4%;
		top: 30px;
	}
} */
/* --- */
@media screen and (max-width: 1080px) {
    .call-special {
        font-size: 12px;
    }

    .bg-special-1 {
        background-position: 58% 50%;
    }

    .bg-special-2 {
        background-position: 45% 50%;
    }
}

.animated {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@keyframes tada {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    4%,
    8% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -4deg);
        transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -4deg);
    }

    12%,
    20%,
    28%,
    36% {
        -webkit-transform: scale3d(1.4, 1.4, 1.4) rotate3d(0, 0, 1, 4deg);
        transform: scale3d(1.4, 1.4, 1.4) rotate3d(0, 0, 1, 4deg);
    }

    16%,
    24%,
    32% {
        -webkit-transform: scale3d(1.4, 1.4, 1.4) rotate3d(0, 0, 1, -4deg);
        transform: scale3d(1.4, 1.4, 1.4) rotate3d(0, 0, 1, -4deg);
    }

    36%,
    60% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.tada {
    -webkit-animation-name: tada;
    animation-name: tada;
}
