@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i&amp;subset=cyrillic,cyrillic-ext");
@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova-Light.woff2") format("woff2"), url("../fonts/ProximaNova-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/ProximaNova-Semibold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}


/* New Divider */

.uk-divider-primary.uk-divider-small::after {
    content: "";
    display: inline-block;
    width: 100px;
    max-width: 100%;
    border-top: 4px solid #ff1a44;
    vertical-align: top;
}


/*Стилизация свитчера в блоке
Решение «РУСОКОН» для коттеджей*/

.custom-list li.uk-active img {
    border: 2px solid red;
}

.custom-list li a {
    position: relative;
    display: inline-block;
}

.custom-list li.uk-active a:before {
    left: 0;
    right: 0;
    bottom: 100%;
    margin: 0 auto;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 38, 125, 0);
    border-bottom-color: #ff1a44;
    border-width: 8px;
}

@media (max-width: 640px) {
	.custom-list-padding {
		padding-right: 30px!important;
	}
}
@media (min-width: 640px) {
    .custom-list li.uk-active a:before {
        left: 100%;
        top: 35%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 38, 125, 0);
        border-left-color: #ff1a44;
        border-width: 8px;
    }
}

.custom-list img {
    border: 2px solid #b0afac;
    display: block;
}

@media (min-width: 960px) {
    .custom-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}


/*Табы, решение русокон*/

.custom-tab {
    margin-bottom: 0;
    z-index: 3;
    position: relative;
    top: 10px;
}

.custom-tab li.uk-active a {
    background-color: #ff1a44;
    color: #fff;
    padding: 24px 0;
    position: relative;
    display: block;
    font-weight: 600;
}

.custom-tab.uk-tab::before {
    border-bottom: none;
}

@media screen and (max-width: 960px) {
    .switcher-destroy.uk-switcher>:not(.uk-active) {
        display: block !important;
    }
}


/*.custom-tab.uk-tab>* {
  padding-left: 8px;
}*/

.custom-tab li:nth-of-type(1n+2) {
    padding-left: 10px;
}

.custom-tab li a {
    padding: 14px 10px;
}

.custom-tab-content {
    z-index: 2;
    top: -10px;
    padding-top: 40px;
}

.custom-tab li.uk-active a:before {
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 38, 125, 0);
    border-top-color: #ff1a44;
    border-width: 10px;
}


/*Стилизация свитчера в блоке популярных цветов*/

.popular-colors img {
    border: 2px solid #b0afac;
}

.popular-colors li a {
    position: relative;
    display: inline-block;
}

.popular-colors li.uk-active img {
    border: 2px solid #ff1a44;
}

.popular-colors li.uk-active a:before {
    left: 0;
    right: 0;
    bottom: 100%;
    margin: 0 auto;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 38, 125, 0);
    border-bottom-color: #ff1a44;
    border-width: 8px;
}

@media (min-width: 960px) {
    .popular-colors li.uk-active a:before {
        display: none;
    }
}


/*Общий стиль для форм*/

.custom-order {
    border: 8px solid #ff1a44;
}


/*Модификатор для форм в банерах,
в том чисел и статических*/

.custom-order-banner {
    max-width: 360px;
    margin: 70px auto 0;
}

@media (min-width: 960px) {
    .custom-order-banner {
        max-width: 240px;
        margin: 0;
        float: right;
    }
}


/*Стили для форм в статических баннерах*/

.custom-order-static {
    max-width: 360px;
    margin: 0 auto;
}

@media (min-width: 960px) {
    .custom-order-static {
        max-width: 100%;
        margin: 0;
    }
}

@media (min-width: 960px) {
    #cutom-swiper.swiper-slide {
        padding-top: 70px !important;
    }
}


/*Стрелки в главном банере на мобильных*/

.custom-nav {
    top: 15%;
}


/*Стрелки в главном банере на десктопах*/

@media (min-width: 960px) {
    .custom-nav {
        top: 50%;
    }
}


/*Убираем паддинги на десктопах в контенте банера*/

@media (min-width: 960px) {
    .banner-content {
        padding: 0;
    }
    .banner-content h3, .banner-content p {
        /*margin: inherit;*/
    }
}

.banner-content h3, .banner-content p {
    margin: 20px auto 0;
}

@media (min-width: 960px) {
    .banner-content h3, .banner-content p {
        margin: 20px 0 0 0;
    }
}


/*Раздел контакты, стилизация табов*/

.contacts-tab a {
    font-size: 10px;
}
 .contacts-tab li.uk-active a {
        background-color: #ff1a44;
        color: #fff;

        }

@media (min-width: 640px) {
    .contacts-tab a {
        font-size: 16px;
    }
    .contacts-tab {
        margin-bottom: 0;
        z-index: 1;
    }
    .contacts-tab li.uk-active a {
        background-color: #ff1a44;
        color: #fff;
        padding: 24px 0;
        position: relative;
        display: block;
        font-weight: 600;
    }
    .contacts-tab.uk-tab::before {
        border-bottom: none;
    }
    .contacts-tab li:nth-of-type(1n+2) {
        padding-left: 10px;
    }
    .contacts-tab li a {
        padding: 14px 10px;
    }
    @media (min-width: 640px) {
        .contacts-tab li a {
            background-color: #57595b;
            color: #fff;
        }
        .contacts-tab li a:hover {
            color: #fff;
        }
    }
    .contacts-tab-content {
        /*z-index: 2;*/
        top: -10px;
        position: relative;
    }
    @media (min-width: 640px) {
        .contacts-tab-content {
            padding-top: 40px
        }
    }
    .contacts-tab li.uk-active a:before {
        top: 100%;
        left: 0;
        right: 0;
        margin: 0 auto;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 38, 125, 0);
        border-top-color: #ff1a44;
        border-width: 10px;
    }
}

.contacts-tab.uk-tab::before {
    border-bottom: none;
}

.custom-padding-top {
    padding-top: 5px;
}

.custom-accordion > * {
  border: 3px solid #ddd;
}
.custom-accordion > .uk-open {
  border: 3px solid #ff1a44;
}
.custom-accordion .uk-accordion-title {
  position: relative;
  padding-right: 30px;
}
.custom-accordion .uk-accordion-title::after {
  position: absolute;
  top: 24%;
  right: 0;
}



#footer {
    background-color: #2d2f33;
}


/*Нижний бордер для сабменю*/

#sub-menu li.uk-active a {
    border-bottom: 4px solid #ff1a44;
}


/*Блок красота окна*/

.custom-beauty-1, .custom-beauty-2, .custom-beauty-3, .custom-beauty-4, .custom-beauty-5, .custom-beauty-6, .custom-beauty-9, .custom-beauty-10, .custom-beauty-11, .custom-paint {
    min-height: 300px;
}

@media (min-width: 640px) {
    .custom-beauty-1, .custom-beauty-2, .custom-beauty-3, .custom-beauty-4, .custom-beauty-5, .custom-beauty-6, .custom-beauty-9, .custom-beauty-10, .custom-beauty-11, .custom-paint {
        min-height: 455px;
    }
}

.custom-beauty-1 {
    background-image: url(../images/beauty-1.jpg);
}

.custom-beauty-2 {
    background-image: url(../images/beauty-2.jpg);
}

.custom-beauty-3 {
    background-image: url(../images/beauty-3.jpg);
}

.custom-beauty-4 {
    background-image: url(../images/beauty-4.jpg);
}

.custom-beauty-5 {
    background-image: url(../images/beauty-5.jpg);
}

.custom-beauty-6 {
    background-image: url(../images/beauty-6.jpg);
}


/*Слайдер в блоке Декор стекла, витражи и тд*/

.custom-beauty-9 {
    background-image: url(../images/beauty-9.jpg);
}

.custom-beauty-10 {
    background-image: url(../images/beauty-10.jpg);
}

.custom-beauty-11 {
    background-image: url(../images/beauty-11.jpg);
}


/*Блок окрашивание*/

.custom-paint {
    background-image: url(../images/beauty-7.jpg);
}


/*Убираем верхний отступ на мобильных в секциях баннера*/

.custom-slide {
    padding-top: 0;
}

@media (min-width: 960px) {
    .custom-slide {
        padding-top: 70px;
    }
}


/* Video Noise*/

.noise-overlay {
    background-image: url(../images/noise.gif);
    opacity: .1;
}


/* Stopwatch */

.rs-stopwatch-label {
    padding: 6px 20px;
    font-size: 1rem;
    border-radius: 0;
    position: relative;
}


/*высота линии в блоке на странице дерево*/

.uk-divider-primary-cont.uk-divider-primary.uk-divider-small::after {
    border-top: 2px solid #ff1a44;
    width: 50px;
}

/*Убираем выравнивание по центру списка на
дектопах в баннере дерева*/

  @media (min-width: 960px) {
      .custom-l {
          /*margin: 0;*/
          margin-left: 0 !important;
      }
  }

  /*Иконки в дереве выравиваются друг под другом на @s*/
  @media (min-width: 640px) {
    .custom-icon-style {
         -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
         -ms-flex-direction: column;
      flex-direction: column !important;

    }
    /*.custom-par {
        padding-top: 0;
    }*/
  }
  @media (min-width: 960px) {

    .custom-par {
        padding: 0 0 0 10px;
    }
  }
  @media (min-width: 1200px) {

    .custom-par {
        padding: 0 0 0 40px;
    }
  }
