@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i&amp;subset=cyrillic,cyrillic-ext");
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Light.woff2") format("woff2"), url("../fonts/ProximaNova-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/ProximaNova-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}


/* New Divider */

.uk-divider-primary.uk-divider-small::after {
  content: "";
  display: inline-block;
  width: 100px;
  max-width: 100%;
  border-top: 4px solid #ff1a44;
  vertical-align: top;
}

#rs-carousel-gallery .uk-dotnav>.slick-active>*, #rs-carousel-reviews .uk-dotnav>.slick-active>* {
  /*background-color: rgba(102,102,102,0.4);*/
  background-color: #ff1a44;
}


/*Стилизация свитчера в блоке
Решение «РУСОКОН» для коттеджей*/

.custom-list li.uk-active img {
  border: 2px solid red;
}

.custom-list li a {
  position: relative;
}

.custom-list li.uk-active a:before {
  bottom: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 38, 125, 0);
  border-bottom-color: #ff1a44;
  border-width: 8px;
}

@media (min-width: 960px) {
  .custom-list li.uk-active a:before {
    left: 100%;
    top: 35%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 38, 125, 0);
    border-left-color: #ff1a44;
    border-width: 8px;
  }
}

.custom-list img {
  border: 2px solid #b0afac;
  display: block;
  border-radius: 10px;
}

@media (min-width: 960px) {
  .custom-list {
    flex-direction: column;
  }
}


/*Табы, решение русокон*/

.custom-tab {
  margin-bottom: 0;
  z-index: 3;
}

.custom-tab li.uk-active a {
  background-color: #ff1a44;
  color: #fff;
  padding: 30px 0;
  position: relative;
  display: block;
}

.custom-tab.uk-tab::before {
  border-bottom: none;
}


/*.custom-tab.uk-tab>* {
  padding-left: 8px;
}*/

.custom-tab li:nth-of-type(1n+2) {
  padding-left: 10px;
}

.custom-tab li a {
  padding: 20px 10px;
}

.custom-tab-content {
  z-index: 2;
  top: -10px;
}

.custom-tab li.uk-active a:before {
  top: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 38, 125, 0);
  border-top-color: #ff1a44;
  border-width: 10px;
}


/*Стилизация свитчера в блоке популярных цветов*/

.popular-colors img {
  border: 2px solid #b0afac;
  border-radius: 10px;
}

.popular-colors li.uk-active img {
  border: 2px solid red;
}

.popular-colors li a {
  position: relative;
}

.popular-colors li.uk-active a:before {
  bottom: 200%;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 38, 125, 0);
  border-bottom-color: #ff1a44;
  border-width: 8px;
}

@media (min-width: 640px) {
  .popular-colors li.uk-active a:before {
    display: none;
  }
}

/*Стили для форм в банерах*/
.custom-order {
  border: 8px solid #ff1a44;
}

/*Раздел контакты, стилизация табов*/

.contacts-tab {

}
